.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

input:disabled {
  background-color: #ffffff;
  color: black;
}

.popup-custom-content {
  width: fit-content;
}
